@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* /// USED FOR THE FIRST EXAMPLE *@
<div class="text-center">
    <h1 class="display-4">Register today</h1>
    <a href="/success" class="btn btn-primary">@Model.CtaLabel</a>
</div>

@*/// USED FOR THE SECOND EXAMPLE
    <div class="text-center">
        <h1 class="display-4">Register today</h1>
        <a href="/success" class="btn btn-primary">Join today</a>
    </div>*@
